<div class="row login-style auth-container">
  <div class="col-md-6 form-style login-container">
    <h2 class="form-title">Login</h2>

    <form class="form login-form">
      <div class="form-group form-input">
        <label for="email-login form-label">email:</label>
        <input class="form-input form-control" type="text" id="email-login" />
      </div>
      <div class="form-group form-input">
        <label for="password-login form-label">password:</label>
        <input class="form-input form-control" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary form-btn" type="submit">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6 form-style signup-container">
    <h2 class="align-self-center form-title">Signup</h2>

    <form id="form" class="form signup-form col-md-auto">
      <div class="form-group form-input">
        <label for="name-signup form-label">name:</label>
        <input class="form-input form-control" type="text" id="name-signup" />
      </div>
      <div class="form-group form-input">
        <label for="email-signup form-label">email:</label>
        <input class="form-input form-control" type="text" id="email-signup" />
      </div>
      <div class="form-group form-input">
        <label for="password-signup form-label">password:</label>
        <input class="form-input form-control" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary form-btn" type="submit">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>